# Backend (Python)
backend/.venv/
__pycache__/
*.pyc
backend/*.db

# Frontend (Node)
frontend/node_modules/
frontend/dist/

# Env files
.env

# Editors / OS
.vscode/
.idea/
.DS_Store

# TypeScript build cache
*.tsbuildinfo
